.calendar tr:first-child td {
    height:15px;
	border: 0px solid black;
	text-align: center;
}
.calendar tr:first-child td > button{
	border: 1px solid black;
	width: 100%;
	background-color: white;
	cursor: pointer;
	color: Black;
}
.calendar{
    width:100%;
    height:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
}
.calendar th{
    height:15px;
    border: 1px solid black;
    width:14%;
    font-variant:small-caps;
    background-color:#0052cc;
	font-size: 1vw;
    color:white;
}
.calendar td{
    border: 1px solid black;
    height:15%;
}
.day{
    width:100%;
    height:100%;
    font-size: 0.8vw;
    vertical-align: middle;
    /*display: table-cell;*/
    /*text-align: center;*/
}
.day:hover{
	background-color:#eaf4ff;
	cursor:pointer;
}
.no_day{
	width:100%;
    height:100%;
    font-size: 0.8vw;
    vertical-align: middle;
	background-color:#e6e6e6;
}
.calendar td > span{
	position :relative;
	left:0%;
}
.llamadas{
	margin: 0 auto; 
	color:#ff0066;
	font-size: 0.8vw;
	text-align: center;
}
				.notas{
					margin: 0 auto; 
					color:#0099cc;
					font-size: 18px;
				}
				.acuerdos{
					margin: 0 auto; 
					color:green;
					font-size: 18px;
				}