﻿body {
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	font-size: 80%;
	background-color:#EFEFEF;
	/*background-color:#b6b7bc;*/
}

.cuerpo
{
    width:80%;
    background-color:White;
    margin: 0px auto;
}
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #636363;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
    font-weight: 600;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}
.progressBackgroundFilter {
    position:fixed; 
    top:0px; 
    bottom:0px; 
    left:0px;
    right:0px;
    overflow:hidden; 
    padding:0; 
    margin:0; 
    background-color:#000; 
    filter:alpha(opacity=60); 
    -moz-opacity: 0.60;
    -khtml-opacity: 0.60;
    opacity:0.60; 
    z-index:1000;
}

.mdialogo{ 
    text-align: center; 
    position:fixed; 
    top:20%; 
    width: 100%; 
    height: 100%; 
    display: inline-block; 
    vertical-align: middle;
    z-index:1002; 
}
.mdialogo > div{ 
    /*position:fixed; 
    top:7%; 
    left:32%;*/
    width:500px; 
    
    border:solid 0px #000;
    background: rgb(77,77,77);
    
}
.mdialogo > div img
    {
        height:20px;
        width:20px;
        cursor:pointer;
        padding:0px;
    }
body, th, td, select, input[type=text], input[type=email]
{
    font-size: 12px;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}
.gv_alter {
    border-spacing: 3px 3px;
    border-collapse: separate;
    margin: 0px auto;
}
.gv_alter tr:nth-child(even) {
    /*background: #FFF;*/
    text-align:center;
    color:#636363;
}
.gv_alter tr:nth-child(odd) td{
    font-weight:normal;
    text-align:center;
    font-variant:small-caps;
    color:rgb(28,91,162);
    border-bottom: 1px solid rgb(28,91,162);
    border-top: 1px solid rgb(28,91,162) ;
    font-weight:bold;
    background-color: rgb(234,237,234);
}

.gv_normal tr {
    /*background: #FFF;*/
    text-align:center;
    color:#636363;
}
.gv_normal th {
    font-weight:normal;
    text-align:center;
    font-variant:small-caps;
    color:rgb(28,91,162);
    border-bottom: 1px solid rgb(28,91,162);
    border-top: 1px solid rgb(28,91,162);
    font-weight:bold;
    background-color: rgb(234,237,234);
}
.gv_normal
{
    border-spacing: 3px 3px;
    border-collapse: separate;
    margin: 0px auto;
}
.tr_sel {
    cursor: pointer;
}
.tr_sel:hover {
    background-color: #f2f2f2;  
}
.tr_selected {
    background-color: #ffffb3 !important;  
}
.tb_normal tr {
    background: #FFF;
    color:#636363;
}
.tb_normal th {
    font-weight:normal;
    text-align:center;
    background-color:rgb(77,77,77);
    font-variant:small-caps;
    color:White;
}
.tb_normal
{
    margin: 0px auto;
    width:100%;
}


.button, button, input[type=submit]
{
    border: 1.5px solid rgb(0,104,162);
    color:rgb(0,104,162); 
    font-weight:500;
    font-size: 12px;
    padding: 3px 15px;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    display:inline;
    cursor:pointer;
    background-color: white;
}
.button:hover, button:hover, input[type=submit]:hover, .button:focus
{
    background: #cdedfe;
}

.banner{
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	width:100%;
	color:white;
	height:40px;
	line-height: 40px;
	font-size: 20px;
	vertical-align:middle;
	position:relative;
	background: rgb(0,104,162);
}
.banner > span {
	font-size: 7px;
	position:absolute;
	top:10px;
	right:1%;
}
.mini_button
{
    color: black; 
    display:inline-block;
    cursor:pointer;
    width: 100%;
    font-size: 10px;
    padding: 2px 0px;
}
.mini_button_red {
    border: 1px solid red !important;
    color: red !important; 
}
.mini_button_green {
    border: 1px solid green !important;
    color: green !important; 
}
.mini_button_solid_red {
    background-color: #ff8080; 
}
.mini_button_solid_yellow {
    background-color: #ffcc00; 
}
.mini_button_solid_green {
    background-color: #81d081; 
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
input[type=text], input[type=password], select, textarea, input[type^=date], input[type=number], input[type=email]{
    width:100%;
    border-left: 1px solid rgb(0,104,162);
    border-bottom: 1px solid rgb(0,104,162);
    border-right: 1px solid rgb(0,104,162);
    border-top: 0px solid rgb(0,104,162);
    padding:3px 5px;
    border-radius:3px;
    box-sizing:border-box;
    font-size: 12px;
}
input[type=text]:focus,input[type=password]:focus ,select:focus, button:focus, input[type=submit]:focus, textarea:focus, input[type^=date]:focus,
    , input[type=number]:focus , input[type=email]:focus  {
    outline:none;
    border-color:#7b33bf;
}
.mini_input input, .mini_input select{
    border-left: 1px solid rgb(0,104,162);
    border-bottom: 1px solid rgb(0,104,162);
    border-right: 1px solid rgb(0,104,162);
    border-top: 0px solid rgb(0,104,162);
    padding:0px;
    border-radius:0px;
    font-size: 12px;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder {
  font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px !important;
}

input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder {
  font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px !important;
}

input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder {
  font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px !important;
}

input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder {
  font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px !important;
}