﻿body {
}

#progressBackgroundFilter {
    position:fixed; 
    top:0px; 
    bottom:0px; 
    left:0px;
    right:0px;
    overflow:hidden; 
    padding:0; 
    margin:0; 
    background-color:#000; 
    filter:alpha(opacity=60); 
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity:0.6; 
    z-index:1000; 
}

#processMessage { 
    position:fixed; 
    top:30%; 
    left:35%;
    width:440px; 
    z-index:1001; 
    background-color:#fff; 
    filter:alpha(opacity=85); 
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity:0.85;
    border:solid 1px #000;
    text-align:center;
}


.progressBackgroundFilter {
    position:fixed; 
    top:0px; 
    bottom:0px; 
    left:0px;
    right:0px;
    overflow:hidden; 
    padding:0; 
    margin:0; 
    background-color:#000; 
    filter:alpha(opacity=60); 
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity:0.6; 
    z-index:1000; 
}

.processMessage { 
    position:fixed; 
    top:30%; 
    left:35%;
    width:440px; 
    z-index:1001; 
    filter:alpha(opacity=85); 
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity:0.85;
    border:solid 1px #000;
    text-align:center;
}

.progressBackgroundFilterPopUp {
    position:fixed; 
    top:0px; 
    bottom:0px; 
    left:0px;
    right:0px;
    overflow:hidden; 
    padding:0; 
    margin:0; 
    background-color:#000; 
    filter:alpha(opacity=60); 
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity:0.6; 
    z-index:1000; 
}

.processMessagePopUp { 
    position:fixed; 
    top:30%; 
    left:35%;
    padding:5px; 
    width:30%; 
    z-index:1001; 
    background-color:#f0f0f0;
    border:solid 1px #000;
}

.backgroundFilterMessagePopUp {
    position:fixed; 
    top:0px; 
    bottom:0px; 
    left:0px;
    right:0px;
    overflow:hidden; 
    padding:0; 
    margin:0; 
    background-color:#000; 
    filter:alpha(opacity=60); 
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity:0.6; 
    z-index:1000; 
}

.messagePopUp { 
    position:fixed; 
    background-color: #f0f0f0; 
    z-index:1001; 
    border:solid 1px #555555;
    padding: 7px 10px 7px 10px;
}

.messagePopUp th {
    background-color: #a0a0a0; 
}
.button
{
  font-family: "@Calibri"; 
  color: #14396A !important;
  font-size: 12px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 5px 15px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor:pointer;
  background: #63B8EE;
  background: linear-gradient(top,  #63B8EE,  #468CCF);
  background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
  background: -moz-linear-gradient(top,  #63B8EE,  #468CCF);
}
.button:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #468CCF,  #63B8EE);
  background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
  background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
    }

.header{
    /* IE10+ */ 
    background-image: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);

    /* Mozilla Firefox */ 
    /* Opera */ 
    /* Webkit (Safari/Chrome 10) */ 
    /* Webkit (Chrome 11+) */ 
    /* W3C Markup */ 
    color: White;
    font-size: 10px;
    text-align:center;
    border-color: transparent; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
 
    text-shadow: 2px 2px 21px #cccccc;
    box-shadow:2px 2px 5px #0A1A80;
}

.body{
    background: #ffffff;
    color: #000000;
    font-family: "@Calibri"; 
    font-size: 12px;
    text-align:center;
    border-color :#E5EBEE;
    border-width:0.5px;
    font-weight:normal;
}
.selectplace {
    background: #1e5799;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    line-height: 1.7em;
    list-style: none;
    margin: 0;
    padding: 1px 12px;
    width: 276px;
    font-family: "@Calibri"; 
}
a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
    position: absolute;
    width: 850px;
    color: #FFFFFF;
    background: #000000;
    height: auto;
    line-height: 15px;
    text-align: justify;
    visibility: hidden;
    border-radius: 6px;
    box-shadow: -4px -1px 4px #200000;
    padding: 10px;
    font-family: Helvetica, Verdana, Arial, sans-serif; 
    font-size: 11px;
        
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-left: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.9;
  right: 100%;
  top: 50%;
  margin-top: -50px;
  margin-right: 15px;
  z-index: 999;
}
ul.vert-one
{
margin:0;
padding:0;
list-style-type:none;
display:none;
font : 10px Helvetica, Verdana, Arial, sans-serif;
line-height :165%;
width :10px;

    }

ul.vert-one li
{
    margin:0;
    padding:0;
    border-top:1px solid #63B8EE;
    border-bottom:1px solid #468CCF;
    }

ul.vert-one li a
{
    display:block;
    text-decoration:none;
    color:#fff;
    background:#468CCF;
    padding:0 0 0 10px;
    width:180px;
    }

ul.vert-one li a:hover{
  font : 12px Helvetica, Verdana, Arial, sans-serif;
  color: #14396A !important;
  padding: 5px 15px;
  background: #63B8EE;
  background: linear-gradient(top,  #63B8EE,  #468CCF);
  background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
  background: -moz-linear-gradient(top,  #63B8EE,  #468CCF);
}

ul.vert-one li a.current,ul.vert-one li a.current:hover{
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #468CCF,  #63B8EE);
  background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
  background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);

}

.vert-ocul    
{
  right: 110px;
  top: 150px; 
  transition: width 2s, height 2s, font-size 2s, background-color 3750ms; 
  position:absolute;
    }
    
#first
{
    font : 10px Helvetica, Verdana, Arial, sans-serif;
    cursor:pointer;
    }
#first:hover
{
    font : 11px Helvetica, Verdana, Arial, sans-serif;
    background: lightgreen;
    }
#second
{
    font : 10px Helvetica, Verdana, Arial, sans-serif;
    cursor:pointer;
    }
#second:hover
{
    font : 11px Helvetica, Verdana, Arial, sans-serif;
    background: lightgreen;
    }


