

/*RED-claro*/

.ajax__tab_REDGrad-theme .ajax__tab_header 
{
    font-family:"@Calibri";
    font-size:12px;
    color:#ffffff;
    border-bottom:solid 5px #7db9e8;
    
}
.ajax__tab_REDGrad-theme .ajax__tab_header .ajax__tab_outer 
{

    background:#CCCCCC;
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:middle;
    border:solid 1px #a3a3a3;
    border-bottom-width:0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    
}
.ajax__tab_REDGrad-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#666666;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
    cursor:pointer;
}
.ajax__tab_REDGrad-theme .ajax__tab_hover .ajax__tab_outer 
{
    background: #7db9e8;
    color: White;
}
.ajax__tab_REDGrad-theme .ajax__tab_active .ajax__tab_tab 
{
    color:#ffffff;
}
.ajax__tab_REDGrad-theme .ajax__tab_active .ajax__tab_outer
{
     background:#1e5799;
}
.ajax__tab_REDGrad-theme .ajax__tab_body 
{
    font-family:"@Calibri";
    font-size:8pt;
    padding:0.25em 0.5em;
    background-color:#F2F2F2;    
    border:solid 1px #808080;
    border-top-width:0px;
     border-color: transparent; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}