﻿.tabSelected {
    background-color: #ffffb3 !important;
}
.tab {
    display:inline-block;
    font-weight: bold;
    width:auto;
    border-top: 1px solid rgb(2,138,209);
    border-bottom: 1px solid rgb(2,138,209);
    font-size: 13px;
    padding-left:10px;
    padding-right:10px;
    padding-top:4px;
    padding-bottom:4px;
    cursor: pointer;
    background-color: White;
    color: rgb(2,138,209);
    font-variant:small-caps;
}
.tabContent{
    border-top: 2px solid rgb(2,138,209);
    /*border-left: 1px solid rgb(0,62,102);
    border-right: 1px solid rgb(0,62,102);
    border-bottom: 1px solid rgb(0,62,102);*/
    padding: 10px;
}
.tabTop {
    display:inline-block;
    font-weight: bold;
    width:auto;
    border-top: 1px solid #009933;
    border-bottom: 1px solid #009933;
    font-size: 13px;
    padding-left:10px;
    padding-right:10px;
    padding-top:4px;
    padding-bottom:4px;
    cursor: pointer;
    background-color: White;
    color: #009933;
    font-variant:small-caps;
}
.tabContentTop{
    border-bottom: 2px solid #009933;
    /*border-left: 1px solid rgb(0,62,102);
    border-right: 1px solid rgb(0,62,102);
    border-bottom: 1px solid rgb(0,62,102);*/
    padding: 10px;
}
.seleccionar:hover{
   /* background-color: #f6ff99 !important;
    color: #eb7405;*/
    background-color: #e8e8e8 !important;
    color: #1b1a19;
    cursor:pointer;
}
        
.selected {
  background-color: #ffeb3b;
}
  body
        {
            background-color: #f9f9f9;
        }
        .mtabla 
        {
            margin:0px auto;
            border-collapse:collapse;
        }
        .mtabla>tbody>tr>th
        {
            font-weight:bold;
            font-size:11px;
            color:#0066cc;
            background-color:#f2f2f2;
            padding: 3px 10px 3px 10px;
            text-align:left;
        }
        .mtabla td, .mtabla th
        {
            border-bottom:1px;
            border-top:0px;
            border-left:0px;
            border-right:0px;
            border-color:#cccccc;
            border-style:solid;
        }
        .progressBackgroundFilter2
        {
            position: fixed;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            overflow: hidden;
            padding: 0;
            margin: 0;
            background-color: #000;
            filter: alpha(opacity=60);
            -moz-opacity: 0.60;
            -khtml-opacity: 0.60;
            opacity: 0.60;
            z-index: 1000;
        }
        .mdialogo
        {
            text-align: center;
            position: fixed;
            top: 20%;
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            z-index: 1002;
        }
        .mdialogo > div
        {
            /*position:fixed; 
    top:7%; 
    left:32%;*/
            width: 500px;
            border: solid 0px #000;
            background: rgb(77,77,77);
        }
        .mdialogo > div img
        {
            height: 20px;
            width: 20px;
            cursor: pointer;
            padding: 0px;
        }.bt_verde
        {
            background: #b6e2b6;
        }
        
        .bt_rojo
        {
            background: #f8a0a5;
        }
        
        .bt_naranja
        {
            background: #ffdd99;
        }
        
        .bt_verde, .bt_rojo, .bt_naranja
        {
            padding: 0px;
            color: Black;
            border: 0px solid black;
            cursor: pointer;
            font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
            text-decoration: none;
            font-size: 11px;
        }
        
        .bt_rojo:hover, .bt_verde:hover, .bt_naranja:hover
        {
            background: #CCCCCC;
        }