﻿<%@ Page Title="Change Password" Language="C#" MasterPageFile="~/Maestra.master" AutoEventWireup="true"
    CodeFile="ChangePasswordSuccess.aspx.cs" Inherits="ChangePasswordSuccess" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="head">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <h2>
        Cambio de Contraseña
    </h2>
    <p>
        El cambio de contraseña ha sido exitoso.
    </p>
</asp:Content>
