﻿:root 
{
  /*Fondo Menu*/
  --menu-bg-color: rgb(234,237,234);
  /*Fondo Menu hover*/
  --menu-bg-hvcolor: #ffbf80;
  /*Letra menu*/
  --menu-tx-color: #333333;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--menu-bg-color);
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: var(--menu-tx-color);
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: var(--menu-bg-hvcolor);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}