﻿:root 
{
  /*Fondo boton*/
  --bt-bg-color: rgb(2,138,209);
  /*Fondo boton hover*/
  --bt-bg-hvcolor: #555555;
  /*Letra boton*/
  --bt-tx-color: #FFFFFF;
  /*Letra boton hover*/
  --bt-tx-hvcolor: white;
  /*Color izquierdo banner*/
  --bn-bg-izcolor: rgb(2,138,209);/*rgb(0,20,42)*/;
  /*Color derecho banner*/
  --bn-bg-decolor: rgb(19,40,75);/*rgb(77,77,77)*/;
  /*Letra banner*/
  --bn-tx-color: white;/*rgb(0,20,42)*/;
  /*Fondo Gridview alternante*/
  --gva-bg-color: rgb(13,76,123);/*rgb(77,77,77)*/;
  /*Letra Gridview alternante*/
  --gva-tx-color: white;/*rgb(77,77,77)*/;
  /*Fondo Gridview normal*/
  --gvn-bg-color: rgb(13,76,123);/*rgb(77,77,77)*/;
  /*letra Gridview normal*/
  --gvn-tx-color: white;/*rgb(77,77,77)*/;
}



body {
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	font-size: 80%;
	background-color:#EFEFEF;
}

.cuerpo
{
    width:80%;
    background-color:White;
    margin: 0px auto;
}
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #636363;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}
.progressBackgroundFilter {
    position:fixed; 
    top:0px; 
    bottom:0px; 
    left:0px;
    right:0px;
    overflow:hidden; 
    padding:0; 
    margin:0; 
    background-color:#000; 
    filter:alpha(opacity=60); 
    -moz-opacity: 0.60;
    -khtml-opacity: 0.60;
    opacity:0.60; 
    z-index:1000;
}

.mdialogo { 
    position:fixed; 
    top:7%; 
    left:32%;
    width:500px; 
    z-index:1001; 
    border:solid 0px #000;
    background: rgb(77,77,77);
    
}
.mdialogo img
    {
        height:20px;
        width:20px;
        cursor:pointer;
        padding:0px;
    }
body, th, td, select, input[type=text]
{
    font-size: 12px;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}
.gv_alter tr:nth-child(even) {
    background: #FFF;
    text-align:center;
    color:#636363;
}
.gv_alter tr:nth-child(odd) {
    font-weight:normal;
    text-align:center;
    background-color:var(--gva-bg-color);
    font-variant:small-caps;
    color:var(--gva-tx-color);
}
.gv_alter
{
    margin: 0px auto;
}

.gv_normal tr {
    background: #FFF;
    text-align:center;
    color:#636363;
}
.gv_normal th {
    font-weight:normal;
    text-align:center;
    background-color:var(--gvn-bg-color);
    font-variant:small-caps;
    color:var(--gvn-tx-color);
}
.gv_normal
{
    margin: 0px auto;
}

.tb_normal tr {
    background: #FFF;
    color:#636363;
}
.tb_normal th {
    font-weight:normal;
    text-align:center;
    background-color:rgb(77,77,77);
    font-variant:small-caps;
    color:White;
}
.tb_normal
{
    margin: 0px auto;
    width:100%;
}


button, input[type=submit]
{
    border: 0px solid black;
    background:var(--bt-bg-color);
    color:var(--bt-tx-color); 
    font-size: 12px;
    padding: 3px 15px;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}
button:hover, input[type=submit]:hover
{
    background: var(--bt-bg-hvcolor);
    color: var(--bt-tx-hvcolor);
    cursor:pointer;
}
select, input[type=text]
{
    width:200px;
    font-size: 12px;
}

.gv_alter_td td:nth-child(even) {
    background: #FFF;
    text-align:center;
    color:#636363;
}
.gv_alter_td td:nth-child(odd) {
    font-weight:normal;
    text-align:left;
    background-color:#e5dfdf;
    color:#636363;
}
.gv_alter_td
{
   margin: 0px auto;
   
}

.banner{
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	width:100%;
	color:var(--bn-tx-color);
	height:40px;
	line-height: 40px;
	font-size: 20px;
	vertical-align:middle;
	position:relative;
	background: -webkit-linear-gradient(left, var(--bn-bg-izcolor) , var(--bn-bg-decolor)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, var(--bn-bg-izcolor), var(--bn-bg-decolor)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, var(--bn-bg-izcolor), var(--bn-bg-decolor)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, var(--bn-bg-izcolor) , var(--bn-bg-decolor)); /* Standard syntax */
}
.banner > span {
	font-size: 7px;
	position:absolute;
	top:10px;
	right:1%;
}